@tailwind base;
@tailwind components;
@tailwind utilities;

/*********************Global style********************/
html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; 
}
body{
  background-color: #0c0c1d;
  color: lightgray;
}

.layout > .component,.component{
  height: 100vh;
  scroll-snap-align: center;
}
.sidebar .links > a:hover{
  @apply text-gray-700 !transform !scale-125 ease-linear duration-100  !transition-transform;
}
.hero{
  height: calc(100vh - 75px);
  background: linear-gradient(180deg,#0c0c1d,#111132);
}
.btn{
  @apply bg-transparent  px-2 py-3 border border-white rounded-md;
}

.parallax .mountains{
  background-image: url('~/public/img/mountains.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.parallax .planets{
  background-image: url('~/public/img/planets.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.parallax .stars{
  background-image: url('~/public/img/stars.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.services{
  background-image: linear-gradient(180deg,#0c0c1d,#111132);
  height: 100%;
}
.formContainer form > input[type='text'],input[type='email']{
  @apply w-full bg-transparent border border-white text-white px-1 py-2 rounded outline-none;
}