@tailwind base;
@tailwind components;
@tailwind utilities;

/*********************Global style********************/
html{
  /* scroll-snap-type: y mandatory; */
  /* scroll-behavior: smooth; */
}
body{
  background-color: #0c0c1d;
  color: lightgray;
}

.layout > .component{
  height: 100vh;
  scroll-snap-align: center;
}